#debug_summary {
    -moz-border-radius: .5em;
    border-radius: .5em;

    background-color: #FEE;
    border: 1px solid #F00;
    margin: 1em;
    padding: .5em;
}

#debug_summary H2, #debug_complete H3 {
    margin: 0;
}

#debug_complete {
    display: none;
    margin-top: 1em;
}

#debug_complete TEXTAREA {
    font-size: 88%;
    height: 20em;
    margin: 1em 0;
	width: 75em;
}
