#debug_summary {
    -moz-border-radius: .5em;
    border-radius: .5em;

    background-color: #FEE;
    border: 1px solid #F00;
    margin: 1em;
    padding: .5em;
}

#debug_summary H2, #debug_complete H3 {
    margin: 0;
}

#debug_complete {
    display: none;
    margin-top: 1em;
}

#debug_complete TEXTAREA {
    font-size: 88%;
    height: 20em;
    margin: 1em 0;
	width: 75em;
}

#facebox TD,
#facebox TH {
    border:0;
	padding:0;
}

#facebox .b {
  background:url(../facebox/b.png);
}

#facebox .tl {
  background:url(../facebox/tl.png);
}

#facebox .tr {
  background:url(../facebox/tr.png);
}

#facebox .bl {
  background:url(../facebox/bl.png);
}

#facebox .br {
  background:url(../facebox/br.png);
}
